version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: zXc12026
      POSTGRES_DB: students
    ports:
      - "5434:5432"
